<p>
<span style="font-weight: bold;">ID</span>: @@ID@@ <br>
<span style="font-weight: bold;">DOI</span>: @@DOI@@ <br>
<span style="font-weight: bold;">Title</span>: @@Title@@ <br>
<span style="font-weight: bold;">Abstract</span>: @@Abstract@@ <br>
</p>
